<a href="https://colab.research.google.com/github/Shishukumar74/Artificial_Neural_Network/blob/main/Artificial_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importing** **Libraries**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

# **Upload** **Dataset**

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [4]:
df = pd.read_csv('Churn_Modelling.csv')

In [5]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
X = df.iloc[:, 3:-1].values
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [8]:
Y = df.iloc[:, -1].values
print(Y)

[1 0 1 ... 1 1 0]

# **Encoding** **Categorical** **Data**

In [9]:
# Label Encoding the "Gender" Column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [10]:
# One Hot Encoding the "Geography" Column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# **Splitting** **Dataset** **into Training and Test set**

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

# **Feature Scaling**

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# **Building Artificial Neural Network**

In [13]:
# Intializing the Artificial Neural Network
ann = tf.keras.models.Sequential()

In [14]:
# Add input layer and first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [15]:
# Add second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [16]:
# Add output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# **Training Artificial Neural Network**

In [17]:
# Compiling the Artificial Neural Network
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# **Training Artificial Neural Network on the Training Set**

In [18]:
ann.fit(X_train, Y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5837 - accuracy: 0.7293
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4891 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4615 - accuracy: 0.7987
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.8043
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4265 - accuracy: 0.8106
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4170 - accuracy: 0.8194
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4070 - accuracy: 0.8270
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3954 - accuracy: 0.8351
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3845 - accuracy: 0.8396
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3744 - accuracy: 0.8457
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3670 - accuracy: 0.8490
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3611 - accuracy: 0.8539
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8562
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3539 - accuracy: 0.8570
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3510 - accuracy: 0.8581
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3498 - accuracy: 0.8576
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8595
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3467 - accuracy: 0.8596
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8586
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3453 - accuracy: 0.8593
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3446 - accuracy: 0.8587
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8615
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8611
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8605
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8611
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8616
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8609
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8616
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8609
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8605
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8604
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8614
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8611
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8612
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8620
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8615
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8619
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8624
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8631
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8624
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8619
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8612
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8610
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8611
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8629
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8631
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8635
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8624
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8626
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8620
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8620
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8640
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8636
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8621
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8634
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8627
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8635
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8618
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8615
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8624
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8629
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8624
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8636
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8636
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8620
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8649
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8649
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8633
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8609
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8639
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8634
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8618
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8627
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8643
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8631
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8635
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8622
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8615
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8644
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8622
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8626
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8627
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8631
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8637
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8620
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8610
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8630
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8633
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8624
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8633
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8640
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8631
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8625
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8625
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8622
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8631
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8639
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8630
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8619

# **Predicting and Evaluating model**

In [28]:
# Geography: France
# Credit Score: 600
# Gender: Male
# Age: 40
# Tenure: 3 years
# Balance: $60000
# Number of Products: 2
# Have Credit Card: Yes
# Is active Member: Yes
# Estimated Salary: $50000
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 65000, 2, 1, 1, 50000]])))

[[0.02059019]]

# **Predicting Test set Result**

In [26]:
Y_pred = ann.predict(X_test)
Y_pred = (Y_pred>0.5)
print(np.concatenate((Y_pred.reshape(len(Y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

# **Making Confusion Matrix**

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, Y_pred)
print(cm)
accuracy_score(Y_test, Y_pred)

[[1533   62]
 [ 207  198]]

0.8655